body {
  background: #0099FF;
}

#center {
  text-align:center;
  margin:150px 0px 0px 0px;
}


input[type="search"] {
  width: 40%;
  padding:10px;
  font-size:18px;
  background: #b3c6ff;
  border:solid 3px white;



}

input {
  width: 20%;
  padding:7px;
  font-size:25px;
  background: #3366ff;
  box-shadow: 5px 7px black;
}

h1 {
  font-size: 70px;
  font-family:Georgia;
  text-shadow:2px 1px 9px blue, 2px 1px 9px red;
}

p {
  column-count: 4;
  -webkit-column-count: 4;
  -moz-column-count: 4;

  column-gap: 100px;
  column-rule-style: dashed;
  column-rule-width: 5px;
  column-rule-color: blue;
}

div#box {
  text-align: center;
  width: 500px;
  border:dashed 5px black;
  box-sizing: border-box;
  padding: 50px;
  margin: 5px 31%;
  background-color: white;
  border-radius: 400px;

}

div h3 {
  padding: 20px;
  margin:0px 20px;
}


/* animation code */

@keyframes box {
  /* from { background-color: white; }
  to { background-color: blue; } */
  /*0%*/from { border-radius:40px; background-color: white; top:0; left: 0; }
  to/*100%*/ { border-radius:100px; background-color: blue; top:300px; right: 150px; }
}

#box {
  position:relative;
  animation-name:box;
  animation-duration:10s;
  animation-delay:0s;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-timing-function:ease-in-out;
  /* animation: box 10s ease-in-out 0s 3 alternate;  */
}


#box2 {
  position: relative;
  width: 200px;
  height: 200px;
  background: blue;
  color: white;
}

#box2:hover {
  background: red;
  width: 300px;
  height:300px;
  position: relative;

  transition: all ease-in 4s;

}
