body {
  background: #0099FF;
}

#center {
  text-align:center;
  margin:150px 0px 0px 0px;
}


input[type="search"] {
  width: 40%;
  padding:10px;
  font-size:18px;
  background: #b3c6ff;
  border:solid 3px white;



}

input {
  width: 20%;
  padding:7px;
  font-size:25px;
  background: #3366ff
;

}

h1 {
  font-size: 70px;
  font-family:Georgia;
}
